[submodule "libs/SingulinkFX"]
	path = libs/SingulinkFX
	url = https://github.com/Singulink/SingulinkFX.git
[submodule "libs/DSharpPlus.AsyncEvents"]
	path = libs/DSharpPlus.AsyncEvents
	url = git@github.com:akiraveliara/DSharpPlus.git
	branch = aki/async-events
